body,
.footer-text-footer {
  background-image: url(./public/images/background.6c3571e0.jpg);
  background-size: cover;
}
.speakers,
footer,
.main-text-main {
  background-color: white;
}

ul,
li {
  list-style-type: none;
}
.blue-text {
  color: blue;
  font-weight: bold;
}
