body {
  background-image: url(./public/images/background.6c3571e0.jpg);
  background-size: cover;
}
ul {
  list-style-type: none;
}
.blue-text {
  color: blue;
  font-weight: bold;
}

.minimal-card,
.minimal-info {
  display: flex;
  flex-direction: column;
}
.minimal-card {
  img {
    border-radius: 15%;
  }
}
.minimal-info {
  margin-left: 20px;
}

.user-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.user-item h2 {
  font-size: 18px;
  margin-top: 0;
}

.user-item p {
  margin-bottom: 5px;
}

.user-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
