.bg-image {
    background-image: url(./../../public/images/desktop-image-hero-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.shop {
    background-image: url(./../../public/images/desktop-image-hero-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about {
    background-image: url(./../../public/images/desktop-image-hero-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact {
    background-image: url(./../../public/images/desktop-image-hero-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.navlink {
    text-decoration: none;

}

.navlink:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
}

#burger {
    display: none;
}

@media (max-width : 320px) {
    #burger {
        display: block;
        position: absolute;
        left: 40px;
    }

    .bg-image {
        background-image: url(./../../public/images/desktop-image-hero-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}